@import 'main/_mixins'
@import 'main/_variables'
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap')

*
    font-family: 'Poppins', sans-serif
    margin: 0
    padding: 0
    color: #000

.container
    width: 1140px
    margin: 0 auto
@import 'blocks/_promo'
@import 'blocks/_sidepanel'
@import 'blocks/_about'
@import 'blocks/_experience'
@import 'blocks/_skills'
@import 'blocks/_portfolio'

@import 'main/_media'
